@use "./var" as *;

.statistics {
    .filter {
        max-width: 440px;
        width: 100%;
        form {
            display: grid;
            grid-template-columns: 2fr auto;
            gap: 10px;
        }
    }
    .statistics-boxes {
        width: 100%;
        background: transparent;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
        .box {
            height: 120px;
            background: var(--background-color-two);
            border-radius: 6px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            border: 1px solid rgba(255, 255, 255, 0.2);
            gap: 20px;
            h3 {
                font-size: 22px;
                color: var(--color-white);
                small {
                    opacity: 0.4;
                }
            }
            span {
                display: flex;
                align-items: center;
                color: var(--color-white);
                gap: 6px;
                text-transform: capitalize;
                i {
                    font-size: 22px;
                    color: var(--main-color);
                }
            }
        }
    }
}

@include respond-to("mobile") {
    .statistics .statistics-boxes {
        grid-template-columns: 1fr;
    }
    .statistics .statistics-boxes .box {
        height: 100px;
        border-radius: 2px;
        padding: 20px;
        display: flex;
        gap: 5px;
        span {
            font-size: 14px;
            i {
                font-size: 18px;
                color: var(--main-color);
            }
        }
        h3 {
            font-size: 20px;
        }
    }
}
