@use "./var" as *;

.page-login {
    height: 100dvh;
    display: grid;
    grid-template-columns: 60% 1fr;
    .box {
        &_one {
            background: transparent;
            clip-path: inset(20px round 6px);
            position: relative;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                pointer-events: none;
            }
            .box_override {
                width: 100%;
                height: 100%;
                inset: 0;
                position: absolute;
                background: rgba(20, 38, 41, 0.6);
            }
        }
        &_two {
            display: flex;
            align-items: center;
            justify-content: center;
            .container-login {
                width: calc(100vw - 40px);
                max-width: 460px;
                margin: 0 auto;
                background: transparent;
                padding: 50px 20px;
                border-radius: 6px;
                .form-login {
                    h1 {
                        text-transform: capitalize;
                        font-size: 2rem;
                        font-weight: 700;
                    }
                    input[type="checkbox"] {
                        /* ...existing styles */
                        display: grid;
                        place-content: center;
                        background: transparent;
                        cursor: pointer;
                    }

                    input[type="checkbox"]::before {
                        content: "";
                        width: 0.5em;
                        height: 0.5em;
                        transform: scale(0);
                        transition: 120ms transform ease-in-out;
                        box-shadow: inset 1em 1em #005f73;
                    }

                    input[type="checkbox"]:checked::before {
                        transform: scale(1);
                    }

                    .form-check {
                        label {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

@include respond-to("mobile") {
    .page-login {
        grid-template-columns: 1fr;
        grid-template-rows: 160px 1fr;
        .box_one {
            background: transparent;
            clip-path: inset(10px round 0 0 12px 12px);
            position: relative;
        }
        .box_two {
            display: flex;
            align-items: start;
            justify-content: center;
            .container-login {
                width: calc(100vw - 40px);
                max-width: 460px;
                margin: 0 auto;
                background: transparent;
                padding: 20px 0px;
                border-radius: 6px;
            }
        }
        .container-login .form-login h1 {
            font-size: 1.3rem;
        }
    }
    .form-login {
        label {
            font-size: 14px;
        }
        input {
            font-size: 14px;
        }
        button {
            font-size: 14px;
        }
    }
}
