@use "./var" as v;

.page-orders {
    display: flex;
    flex-direction: column;
    .filter-order {
        width: 100%;
        max-width: 400px;
        justify-self: end;
        align-self: flex-end;
        margin-bottom: 20px;
    }

    thead {
        th {
            background: var(--background-color-two) !important;
        }
    }

    table {
        .th-actions {
            width: 200px;
        }
        .td-actions {
            .box-actions {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 4px;
                a,
                button {
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    width: 100%;
                    i {
                        font-size: 18px;
                    }
                }
            }
        }
        .th-order-id {
            width: 100px;
        }
        .th-order-name {
            width: 160px;
        }
        .th-quantity {
            width: 100px;
        }
        .th-total {
            width: 100px;
        }
    }
    @include v.k-pagination;

    .k-button-add-user {
        gap: 2px;
        i {
            font-size: 16px;
        }
    }
}
