@use "./var" as v;

.page-product {
    table {
        thead {
            th {
                background: var(--background-color-two) !important;
            }
        }
        td {
            span.break {
                color: var(--main-color);
                margin-inline: 4px;
            }
        }

        .th-actions {
            width: fit-content !important;
            white-space: nowrap !important;
        }
        .td-actions {
            .box-actions {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 4px;
                a,
                button {
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    width: 100%;
                    text-transform: capitalize;
                    i {
                        font-size: 16px;
                    }
                }
            }
        }
        .th-name {
            width: 300px;
        }
        .th-id {
            width: 80px;
        }
        .photo-product {
            position: relative;
            img {
                width: 30px;
                height: 30px;
                object-fit: cover;
                left: 50%;
                top: 50%;
                position: absolute;
                transform: translate(-50%, -50%);
                clip-path: inset(0 round 4px);
            }
        }
        .th-photo {
            width: 60px;
        }
    }

    .k-button-add-product {
        gap: 2px;
        i {
            font-size: 16px;
        }
    }
}
