.setting {
    h4 {
        color: var(--color-white) !important;
    }
    .list-group{
        &-item{
            padding-inline: 0 !important;
        }
    }
    .ul-setting-language{
        background: var(--background-color-two);
        padding-inline: 20px;
        border-radius: 4px;
    }
}
