.setting {
    h4 {
        color: var(--color-white) !important;
    }
    .list-group{
        &-item{
            padding-inline: 0 !important;
        }
    }
    .ul-setting-language{
        background: var(--background-color-two);
        padding-inline: 20px;
        border-radius: 4px;
    }
    .btn-copy{
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        i{
            font-size: 16px;
            pointer-events: none;
        }
    }
}
