@use "./var" as v;

.page-sheet {
    thead {
        th {
            background: var(--background-color-two) !important;
        }
    }

    table {
        .th-actions {
            width: fit-content !important;
            white-space: nowrap !important;
        }
        .td-actions {
            .box-actions {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr auto;
                gap: 4px;
                a,
                button {
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    width: 100%;
                    i {
                        font-size: 16px;
                        pointer-events: none;
                    }
                }
            }
        }
        .th-name {
            width: 300px;
        }
        .th-id {
            width: 120px;
        }
        .th-date {
            width: 190px;
        }

        small {
            opacity: 0.4;
        }
    }

    .highlight-order {
        td {
            background-color: var(--background-color-two) !important;
        }
    }
}
