@use "./var" as v;

.stock-log {
    display: flex;
    flex-direction: column;

    a.btn_add_to_stock {
        width: fit-content;
        justify-self: end;
        i {
            font-size: 16px !important;
        }
    }
    .filter-order {
        width: 100%;
        max-width: 400px;
        justify-self: end;
        align-self: flex-end;
        margin-bottom: 20px;
    }

    thead {
        th {
            background: var(--background-color-two) !important;
        }
    }

    table {
        .th-actions {
            width: fit-content !important;
            white-space: nowrap !important;
        }
        .box-actions {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 4px;
            a,
            button {
                display: flex;
                align-items: center;
                gap: 4px;
                width: 100%;
                i {
                    font-size: 18px;
                }
            }
            form{
                grid-column:2/3;
            }
        }
    }
}
