.swal-dark {
    background: var(--background-color-two) !important;
    border: 1px solid rgba(255, 255, 255, 0.2);
    * {
        color: var(--color-white) !important;
    }

    button:where(.swal2-styled) {
        margin: 0.3125em;
        padding: 0.3em 1em;

    }

    button{
        border: 1px solid rgba(255, 255, 255, 0.2);
    }
}
