.box-title-edit {
    &.box {
        display: flex;
        gap: 20px;
        align-items: center;
        button {
            background: var(--background-color-two);
            height: 32px;
            width: 32px;
            clip-path: inset(0 round 16px);
            display: flex;
            align-items: center;
            justify-content: center;
            i {
                color: var(--color-white);
                font-size: 18px;
            }
        }
        h2 {
            margin: 0;
            text-transform: capitalize;
        }
    }
}
