@use "./var" as v;

.page-users {
    thead {
        th {
            background: var(--background-color-two) !important;
        }
    }

    table {
        //display: none;
        .th-actions {
            width: fit-content !important;
            white-space: nowrap !important;
        }
        .td-actions {
            .box-actions {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr auto;
                gap: 4px;
                a,
                button {
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    width: 100%;
                    i {
                        font-size: 16px;
                        pointer-events: none;
                    }
                }
            }
        }
        .th-name {
            width: 300px;
        }
        .th-id {
            width: 80px;
        }
        .th-role {
            width: 120px;
        }
        .th-orders {
            width: 100px;
        }
    }


    .k-button-add-user {
        gap: 2px;
        i {
            font-size: 16px;
        }
    }
}


.download-qr-code-btn{
    justify-content: center;
    align-items: center;
    gap: 4px;
    i{
        font-size: 14px;
    }
}
