// @import 'tailwindcss';

// @source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
// @source '../../storage/framework/views/*.php';
// @source '../**/*.blade.php';
// @source '../**/*.js';

@use "./var" as *;

@forward "tailwindcss";
@forward "./edit_bootstrap";
@forward "./global";
@forward "./home";
@forward "./users";
@forward "./product";
@forward "./orders";
@forward "./order_show";
@forward "./login";
@forward "./air_date_picker";
@forward "./categories";
@forward "./ingredients";
@forward "./title_edit_component";
@forward "./stock_log";
@forward "./add_to_stock";
@forward "./setting";

.btn-filter {
    width: fit-content;
    i {
        font-size: 16px;
    }
}

input,select{
     border-color: rgba(255, 255, 255, 0.2) !important;
}

.app-login {
    background: var(--background-color);
    height: 100dvh;
}

.app {
    background: var(--background-color);
    height: 100dvh;
    display: grid;
    grid-template-columns: 240px 1fr;
    .sidebar {
        background: var(--background-color-two);
        max-height: 100dvh;
        min-height: 100dvh;
        overflow-y: auto;
        .logo-box {
            height: 70px;
            background: var(--background-color-two);
            display: flex;
            align-items: center;
            padding: 20px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            position: sticky;
            top: 0;
            z-index: 99;
            h2 {
                color: var(--color-white);
                text-transform: capitalize;
                font-size: 24px;
                margin: 0;
            }
            .k-btn-close {
                display: none;
            }
        }
        ul {
            padding: 20px;
            display: grid;
            gap: 4px;
            li {
                list-style: none;
                //background: red;
                height: 40px;
                a {
                    color: var(--color-white);
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    height: 40px;
                    text-transform: capitalize;
                    i {
                        color: var(--color-white);
                        font-size: 22px;
                    }
                }
                &.active {
                    a {
                        &,* {
                            color: #ffb469 !important;
                        }
                    }
                }
                form {
                    button {
                        padding: 0;
                        color: var(--color-white);
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                        gap: 6px;
                        height: 40px;
                        width: 100%;
                        i {
                            color: var(--color-white);
                            font-size: 22px;
                        }
                    }
                }
            }
        }
    }
    .main {
        background: var(--background-color);
        .header {
            height: 70px;
            //background: red;
            padding-inline: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            .btn_menu {
                width: 20px;
                height: 20px;
                //background: rgba(255, 255, 255, 0.11);
                display: none;
                align-items: center;
                justify-content: center;
                i {
                    color: var(--color-white);
                }
            }

            h1 {
                font-size: 18px;
                color: var(--color-white);
                text-transform: capitalize;
                margin: 0;
            }
            .box-user {
                display: flex;
                align-items: center;
                gap: 10px;

                .photo {
                    width: 32px;
                    height: 32px;
                    background: var(--background-color-two);
                    clip-path: inset(0 round 16px);
                }
                .name-and-email {
                    display: flex;
                    flex-direction: column;
                    align-items: end;
                    span {
                        color: var(--color-white);
                        font-weight: 600;
                        text-transform: capitalize;
                        line-height: 1;
                    }
                    small {
                        color: var(--color-white);
                        font-weight: 400;
                        opacity: 0.6;
                        line-height: 1;
                    }
                }
            }
        }
        .content {
            padding: 20px;
            max-height: calc(100dvh - 70px);
            overflow-y: auto;
        }
    }
}



@include respond-to("mobile") {
    table {
        * {
            font-size: 14px !important;
        }
        tr {
            white-space: nowrap;
        }
    }

    .cont-table {
        width: calc(100vw - 40px);
        overflow-x: auto;
    }

    .app {
        grid-template-columns: 1fr;
        .sidebar {
            position: fixed;
            width: 80vw;
            left: -80vw;
            height: 100dvh;
            z-index: 999;
            border-right: 1px solid rgba(255, 255, 255, 0.2);
            transition: all 0.3s ease-in-out;
            .logo-box {
                display: flex;
                align-items: center;
                justify-content: space-between;
                h2 {
                    font-size: 20px;
                }
                .k-btn-close {
                    background: transparent;
                    height: 20px;
                    width: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    border-radius: 2px;
                    i {
                        color: var(--color-white);
                    }
                }
            }

            &.active {
                left: 0;
            }
        }
        .main {
            .header {
                //display: none;
                justify-content: space-between;
                h1 {
                    display: none !important;
                }
                .btn_menu {
                    display: flex;
                }
            }
        }
    }
}
